useDynLib(HiDimDA)
exportClasses(RFlda, SigFq, SigFqInv)
exportMethods(RFlda, LeftMult, RightMult)
exportPattern("RFlda.*", "*.RFlda", "*.SigFq", "*.SigFqInv", "LeftMult.*", "RightMult.*")
export(SelectV, DACrossVal, FrobSigAp, FrobSigAp1, ForbSigap, ForbSigap1)

